@import "Color";
@import "Constants";
@import "Components";
@import "Font";
.max-frame{
  height: 100%;
  width: 100%;
}

html{
  @extend .max-frame;
  color: $glx-dark-accent01;
  background-color: white;
 }


#root{
  @extend .max-frame;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
 }

#root::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  @extend .max-frame;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.glx-header{
  z-index: 1000;
  .glx-header--content-left{
   h1{
      position: absolute;
      left: 5px;
      font-family: 'IBM Plex Mono', sans-serif;
      font-weight: bold;
      font-size: 26pt;
    }
    svg{
      position: absolute;
      left: 190px;
      top: 4px;
    }
    @extend .max-frame;
     width: 200px;
  }
  .glx-header--content-right{
    @extend .max-frame;
    position: absolute;
    width: 500px;
    top:0;
    right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a{
      padding: 8px;
      background: transparent;
      border: none;
      font-family: 'IBM Plex Mono', sans-serif;
      font-size: 20pt;
      color: $glx-bg-light;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-size;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: black;
  color: $glx-bg-light;
  background-color: $glx-bg-dark;
}
.glx-content--spacer-header{
  width: 100%;
  height: $header-size;
}
.glx-card-footer{
  bottom: 8px;
  position: absolute;
  width: 100%;
  left: 0;
}

.glx-card-footer--space{
  width: 100%;
  height: 70px;
}

.glx-mono{
  font-family: 'IBM Plex Mono', sans-serif;
}

a,a:active{
  color: $glx-bg-light;
}


@media (max-width: 767px) {
  .glx--hide-on-mobile{
    display: none;
  }
}

@media (min-width: 767px) {
  .glx--only-on-desktop{
    display: none;
  }
}
